@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
    background-repeat: no-repeat;
    background-position: top -287px left -11px, bottom -124px right -10px;
    background-size: contain;
}

main {
    width: 100%;
    height: 100%;
    position: relative;
}

.cell, .text {
    position: absolute;
    width: 300px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cell {
    background-color: yellow;
    height: 550px;
    border-radius: 30px;
    padding: 10px;
}

header {
    display: flex;
    padding-inline: 25px;
    background: linear-gradient(225deg, #e844ff 0,#8739ff 100%);
    border-radius: 30px 30px 5px 5px;
    z-index: 1;
}

.top-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 142px;
    height: 19px;
    margin: -25px auto auto auto;
    border-radius: 0px 0px 160px 160px ;
    background-color: white;
}

.profile-info {
    display: flex;
    align-items: center;  
}

.flex-header {
    display: flex;
}

.profile-photo > img{
    width: 35px;
    margin-left: 20px;
    border-radius: 50%;
    border: 1px solid white;
}

.profile {
    font-size: .5em;
    margin-left: 10px;
}

.burger > img {
    
}

.text {
    margin-top: 600px;
}